*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
    display: flex;
    background-color: #dce5fd;
}
.left{
    background-color: #3f0097;
    width: 280px;
    height: 100%;
}
.right{
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}