*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
.app {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
    display: flex;
    background-color: #dce5fd;
}
.left{
    background-color: #3f0097;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    padding: 70px 10px;
}
.right{
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}
.my-link{
    display: block;
    width: 100%;
    height: auto;
    padding: 15px 20px;
    color: #ffff;
    border-radius: 5px;
    font-size: 18px;
}
.link-icon{
    margin-right: 10px;
}
.my-link.active{
    background-color: #ffff;
    color: #3f0097;
}